/* .btn-outline-primary.dropdown-toggle::after{
    display: none;
} */

.number{
    font-family: Arial, Helvetica, sans-serif !important;
}
.btn:not(:disabled):not(.disabled):focus {
    background-color:rgba(10, 10, 10, 0.07) !important;
    border: 1px solid #f39c12 !important;


}
.btn:not(:disabled):not(.disabled):hover{
    background-color:rgba(10, 10, 10, 0.001) ;
    border: 1px solid #f39c12 !important;

}

[dir] .btn-outline-primary.dropdown-toggle::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2382868b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E") !important;
}

.page-item.active .page-link {
    background-color: #f39c12 !important;
    color: #000 !important;
    border-color:#f39c12 !important
}
